<div class="text-center">
  <button class="btn" (click)="addParticipant(template)">Add Chat Box</button>
  <div class="row">
    <div *ngFor="let participant of chatRoomParticipants" class="col-md-4 mt-20 ">
      <app-chat-window [chatParticipant]="participant" (closeChat)="closeChat($event)"></app-chat-window>
    </div>
  </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Attention!!!</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Maximum of 10 boxes are allowed.
    </div>
  </ng-template>
