.chat-container {
    border: 2px solid black;
    width: 400px;
    padding-left: 16px;
    padding-right: 16px;
}

.chat-container .chat-header {
    padding: 10px 20px;
    background-color: blue;
}

.chat-container .chat-header .text-color-white {
    color: white;
}

.chat-container .message-log {
    height: 450px;
    position: relative;
}

.message {
    padding: 4px;
    border-bottom: 2px solid thistle;
}

.message-sender {
    font-weight: bold;
}

.my-messages {
    background: beige;
}

.other-messages {
    background: white;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.whoistyping {
    position: absolute;
    bottom: 0;
    left: 0;
}