<div class="chat-container">
  <div class="row no-gutters chat-header">
    <span class="col-md-9 text-left text-color-white">{{chatParticipant.name}}</span>
    <button class="col-md-3" (click)="closeButtonClicked()">Close</button>
  </div>
  <div class="message-log">
    <div *ngFor="let message of messageLog" class="row message" [ngClass]="{'text-right my-messages': message.senderid === chatParticipant.id, 'text-left other-messages': message.senderid !== chatParticipant.id}">
      <span class="col-md-12 age-sender">{{message.sendername}}</span>
      <span class="col-md-12">{{message.message}}</span>
    </div>
    <span class="whoistyping">{{ whoIsTyping && whoIsTyping.id !== chatParticipant.id && whoIsTyping.name ? whoIsTyping.name + ' is Typing' : ''}}</span>
  </div>
  <div class="row chat-header">
    <input class="col-md-9" type="text" [(ngModel)]="messageInput" placeholder="Enter Message Here" (input)="onValueChanged()" (keyup.enter)="sendButtonClicked()">
    <button class="col-md-3" (click)="sendButtonClicked()">Send</button>
  </div>
</div>
